@import "../../../global-styles/variables.scss";

.bannerContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;

  .ctaText {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      color: var(--neutral20);
      margin: 0;
    }

    .subTitle {
      color: var(--neutral20);
      margin: 0;
    }
  }

  .cta {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .bannerImage {
      height: 234px;
      width: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }
  }
}
