@import "../../../global-styles/variables.scss";
@import "../../../global-styles/typography.module.scss";

.lessonNavButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem 0rem;

  .prevLessonBtn,
  .nextLessonBtn {
    @extend .t4Reg;
    color: $primary50;
  }
}
