@import "../../../global-styles/variables.scss";
@import "../../../global-styles/color-theme.module.scss";

.trainingContentContainer {
  display: flex;
  flex-direction: column;

  .trainingAboutSection {
    @extend .lightThemeRegular;
    height: 20.3125rem;
    border-radius: 0.25rem;
    padding: 0.75rem;
  }

  .lessonsAccordianContainer {
    height: 20.3125rem;
    border-radius: 0.25rem;
    overflow-y: auto;
  }
}
