@import "../../../global-styles/variables.scss";

.trainingContent {
  display: flex;
  flex-direction: column;

  .trainingAboutSection {
    height: 325px;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 12px;
    overflow-y: auto;

    .trainingAboutText {
      color: var(--neutral20);
      margin: 0;
    }
  }

  .lessonsAccordianContainer {
    height: 325px;
    flex-shrink: 0;
    border-radius: 4px;
    overflow-y: auto;
  }
}
