@import "../../global-styles/color-theme.module.scss";

.loginContainer {
  @extend .lightThemeRegular;
  display: flex;
  padding: 5.25rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100vw;
  height: 100vh;

  .logo {
    width: 7.5rem;
    height: auto;
    object-fit: cover;
  }
}
