@import "../../global-styles/global-styles.module.scss";

.loginContainer {
  box-sizing: border-box;
  @extend .lightThemeRegular;
  display: flex;
  padding: 2.125rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  height: 100dvh;

  .logo {
    width: 7.5rem;
    height: auto;
    object-fit: cover;
  }
}
