@import "../../../global-styles/global-styles.module.scss";

.fileInputContainer {
  display: inline-flex;
  width: 20rem;
  height: 6.875rem;
  padding: 0.75rem 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral90;
  background: $neutral100;
  cursor: pointer;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;

    .iconContainer {
      display: flex;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 0.25rem solid $neutral95;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      align-self: stretch;

      .text {
        @extend .t3Reg;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
        align-self: stretch;

        .highlightedText {
          color: $primary50;
        }
      }

      .supportingText {
        @extend .t5Lite;
        align-self: stretch;
        text-align: center;
        color: $neutral50;
      }
    }

    .hiddenInput {
      display: none;
    }
  }
}
