@import "../../../global-styles/global-styles.module.scss";

.numberInputContainer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;

  .labelLightTheme {
    @extend .t3Med;
    color: $neutral30;
    cursor: pointer;
  }

  .inputContainerLightTheme {
    @extend .lightThemeLowest;
    display: inline-flex;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral70;

    &:focus-within {
      border: 0.0625rem solid $neutral20;
    }

    &:not(:focus-within):hover {
      box-shadow: 0 0 0 0.25rem $primary90;
    }

    .dropdownLightTheme {
      @extend .t3Lite;
      color: $neutral40;
      display: flex;
      padding: 0.625rem 0.75rem 0.625rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      align-self: stretch;
      cursor: pointer;
    }

    .inputLightTheme {
      @extend .t3Reg;
      flex: 1;
      color: $neutral60;
      display: flex;
      padding: 0.75rem 0;
      align-items: center;
      gap: 0.5rem;
      align-self: stretch;
      border-radius: 0.25rem;
      border: none;

      cursor: pointer;

      &::placeholder {
        color: $neutral60;
      }

      &:focus {
        outline: none;
        color: $neutral40;
      }

      &:disabled {
        background: $neutral90;
      }
    }
  }

  // dark theme mode
  .labelDarkTheme {
    color: $neutral95;
  }

  .inputContainerDarkTheme {
    border: 0.0625rem solid $neutral60;
    background-color: $neutral20;

    &:focus-within {
      background-color: $neutral10;
      border: 0.0625rem solid $neutral95;
      color: $neutral95;
    }

    &:not(:focus-within):hover {
      box-shadow: 0 0 0 0.25rem $primary90;
    }

    .dropdownDarkTheme {
      color: $neutral95;
    }

    .inputDarkTheme {
      color: $neutral70;
      border: 0.0625rem solid $neutral60;
      background-color: $neutral20;
      border: none;

      &::placeholder {
        color: $neutral70;
      }

      &:focus {
        outline: none;
        color: $neutral95;
        background-color: $neutral10;
      }

      &:disabled {
        background: $neutral40;
        color: $neutral80;
      }
    }
  }

  .invalidIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    pointer-events: none;
  }

  .inputInvalid {
    border: 0.0625rem solid $alert40;
  }

  .helperText {
    @extend .t4Reg;
    color: $neutral50;
    cursor: pointer;
  }

  .helperTextInvalid {
    color: $alert40;
  }

  .disabledHelperText {
    color: $neutral60;
  }

  .disabledLabel {
    color: $neutral60;
  }

  .disabledInputContainerDarkTheme {
    border: 0.0625rem solid $neutral90;
    background: $neutral40;
  }

  .disabledInputContainerLightTheme {
    border: 0.0625rem solid $neutral90;
    background: $neutral90;
  }
}
