@import "../../../global-styles/global-styles.module.scss";

.numberInputContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  width: 100%;

  .labelLightTheme {
    @extend .t4Lite;
    color: $neutral50;
    cursor: pointer;
  }

  .labelDarkTheme {
    @extend .t4Lite;
    color: $neutral95;
    cursor: pointer;
  }

  .inputContainerLightTheme {
    display: inline-flex;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral90;
    background: $neutral100;

    &:focus-within {
      box-shadow: 0rem 0rem 0rem 0.25rem $neutral95;
    }

    .dropdownLightTheme {
      @extend .t3Lite;
      display: flex;
      padding: 0.625rem 0.75rem 0.625rem 1rem;
      align-items: center;
      gap: 0.25rem;
      align-self: stretch;
      cursor: pointer;
    }

    .inputLightTheme {
      @extend .t3Reg;
      display: inline-flex;
      padding: 0.75rem 1rem 0.75rem 0rem;
      align-items: center;
      gap: 0.5rem;
      flex: 1 0 0;
      border: none;
      border-radius: 0.25rem;

      &:focus {
        outline: none;
      }

      &:disabled {
        border: 0.0625rem solid $neutral90;
        background: $neutral90;
        color: $neutral70;
      }
    }
  }

  .inputContainerInvalid {
    border: 1px solid $alert60;
  }

  // dark theme mode
  .inputContainerDarkTheme {
    display: inline-flex;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral70;
    background: $neutral100;

    .dropdownDarkTheme {
      @extend .t3Lite;
      display: flex;
      padding: 0.625rem 0.75rem 0.625rem 1rem;
      align-items: center;
      gap: 0.25rem;
      align-self: stretch;
      cursor: pointer;
    }

    .inputDarkTheme {
      @extend .t3Reg;
      display: inline-flex;
      padding: 0.75rem 1rem 0.75rem 0rem;
      align-items: center;
      gap: 0.5rem;
      flex: 1 0 0;
      border: none;
      border-radius: 0.25rem;

      &:focus {
        outline: none;
      }

      &:disabled {
        border: 0.0625rem solid $neutral40;
        background: $neutral40;
        color: $neutral80;
      }
    }
  }
}

.inputContainerInvalid {
  border: 1px solid $alert60;
}

.helperTextLightTheme {
  @extend .t4Lite;
}

.helperTextDarkTheme {
  @extend .t4Lite;
  color: $neutral95;
}

.helperTextInvalid {
  color: $alert60;
}
