@import "../../global-styles/variables.scss";
@import "../../global-styles/typography.module.scss";

.tabGroupContainer {
  display: inline-flex;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  background: $neutral100;

  .selectedTab {
    @extend .t3Bold;
    display: flex;
    padding: 0.6rem 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    flex: 1;
    background: $neutral95;
    text-align: center;
    border-bottom: 0.0938rem solid $primary50;
    cursor: pointer;
  }

  .tab {
    @extend .t3Bold;
    display: flex;
    padding: 0.6rem 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    flex: 1;
    background: $neutral100;
    text-align: center;
    border-bottom: 0.0938rem solid #d7d8db;
    cursor: pointer;
  }
}
