@import "../../global-styles/variables.scss";

.videoLessonContainer {
  display: flex;
  justify-content: center;

  .videoPlayer {
    width: 100%;
    height: 12.125rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: $neutral0;
  }

  .portraitMode {
    height: 340px;
    width: 85%;
  }
}
