@import "../../../global-styles/global-styles.scss";

.searchInputContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral90;
  padding: 0.75rem;
  align-items: center;
  background: $neutral100;

  .input {
    @extend .t3Reg;
    color: $neutral50;
    background: $neutral100;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
