@import "../../../global-styles/global-styles.scss";

.selectInputContainer {
  display: inline-flex;
  width: 20rem;
  flex-direction: column;
  position: relative;

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;
    align-self: stretch;

    .labelLightTheme {
      @extend .t4Lite;
      color: $neutral50;
    }

    .labelDarkTheme {
      @extend .t4Lite;
      color: $neutral95;
    }

    .input {
      @extend .t3Reg;
      display: flex;
      align-self: stretch;
      padding: 0.75rem;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      flex: 1 0 0;
      border-radius: 0.25rem;
      border: 0.0625rem solid $neutral90;
      background: $neutral100;
      cursor: pointer;
    }
  }

  .dropDownContainer {
    position: absolute;
    top: 4.75rem;
    z-index: 1;
    width: 100%;
    display: inline-flex;
    max-height: 13.75rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral90;
    background: $neutral100;
    padding: 0.25rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    overflow-y: auto;

    .dropDownItem {
      @extend .t3Lite;
      display: flex;
      padding: 0.75rem 1rem;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      align-self: stretch;
      background-color: $neutral100;
      cursor: pointer;

      &:hover {
        background: $neutral99;
        color: $neutral20;
        font-weight: 500;
      }

      &:hover .hoverSVG {
        display: inline-block;
      }

      .hoverSVG {
        display: none;
      }
    }
  }
}
