@import "../../../global-styles/variables.scss";
@import "../../../global-styles/color-theme.module.scss";
@import "../../../global-styles/typography.module.scss";

.courseCardContainer {
  display: inline-flex;
  flex-direction: column;
  border-radius: 2.452px;
  border: 0.613px solid $neutral80;
  width: 65%;
  height: auto;
  margin-right: 0.5rem;

  .courseImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.1532rem 0.1532rem 0rem 0rem;
  }

  .courseDetails {
    @extend .lightThemeHighest;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    .courseHeading {
      @extend .t4Med;
      white-space: normal;
    }

    .courseTextInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .courseText {
        @extend .t5Lite;
        color: $neutral40;
        margin-right: 0.3125rem;
      }
    }
  }
}
