@import "../../../global-styles/global-styles.module.scss";

.lessonCardHeader {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0rem 1rem;

  .backButton {
    @extend .lightThemeRegular;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
