@import "../../global-styles/color-theme.module.scss";

.dashboardContainer {
  @extend .lightThemeRegular;
  display: flex;
  padding: 3.375rem 1rem;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
}
