@import "../.././../global-styles/variables.scss";

.primaryBtnLightTheme {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  background: var(--primary50);
  border: 1px solid var(--primary50);
  cursor: pointer;

  .text {
    color: var(--neutral100);
  }
}

.primaryBtnLightTheme:not(:disabled):hover {
  box-shadow: 0px 0px 0px 4px #dbe7ff;
}

.primaryBtnLightTheme:not(:disabled):active {
  box-shadow: 0px 0px 0px 4px #dbe7ff;
  background: var(--primary40);
}

.primaryBtnLightTheme[disabled] {
  border: 1px solid var(--neutral90);
  background: var(--neutral90);
  color: #fff;
  cursor: not-allowed;
}

// dark mode classes
.primaryBtnDarkTheme {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  background: var(--primary50);
  border: 1px solid var(--primary50);
  cursor: pointer;

  .text {
    color: var(--neutral100);
  }
}

.primaryBtnDarkTheme:not(:disabled):hover {
  box-shadow: 0px 0px 0px 4px #b4ceff;
}

.primaryBtnDarkTheme:not(:disabled):active {
  background: var(--primary60);
  border-color: transparent;
  box-shadow: 0px 0px 0px 4px #b4ceff;
}

.primaryBtnDarkTheme[disabled] {
  color: #fff;
  background: var(--neutral20);
  border: 1px solid var(--neutral20);
  cursor: not-allowed;
}

// @media screen and (min-width: 361px) {
//   .primaryBtnLightTheme,
//   .primaryBtnDarkTheme {
//     width: 50%;
//   }
// }
