@import "../.././../global-styles/global-styles.scss";

.primaryBtnLightTheme {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background: $primary50;
  border: 0.0625rem solid $primary50;
  cursor: pointer;

  &:not(:disabled):hover {
    box-shadow: 0rem 0rem 0rem 0.25rem $primary90;
  }

  &:not(:disabled):active {
    box-shadow: 0rem 0rem 0rem 0.25rem $primary90;
    background: $primary40;
  }

  &:disabled {
    border: 0.0625rem solid $neutral90;
    background: $neutral90;
    color: $neutral100;
    cursor: not-allowed;
  }

  .text {
    @extend .t3Bold;
    color: $neutral100;
  }
}

// dark mode classes
.primaryBtnDarkTheme {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background: $primary50;
  border: 0.0625rem solid $primary50;
  cursor: pointer;

  &:not(:disabled):hover {
    box-shadow: 0px 0rem 0rem 0.25rem $primary80;
  }

  &:not(:disabled):active {
    background: $primary60;
    border-color: transparent;
    box-shadow: 0rem 0rem 0rem 0.25rem $primary80;
  }

  &:disabled {
    color: $neutral100;
    background: $neutral20;
    border: 0.0625rem solid $neutral20;
    cursor: not-allowed;
  }

  .text {
    @extend .t3Bold;
    color: $neutral100;
  }
}
