@import "../.././../global-styles/variables.scss";
@import "../../../global-styles/typography.module.scss";

.primaryBtnLightTheme {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background: $primary50;
  border: 0.0625rem solid $primary50;
  cursor: pointer;

  .text {
    @extend .t3Bold;
    color: $neutral100;
  }
}

.primaryBtnLightTheme:not(:disabled):hover {
  box-shadow: 0rem 0rem 0rem 0.25rem #dbe7ff;
}

.primaryBtnLightTheme:not(:disabled):active {
  box-shadow: 0rem 0rem 0rem 0.25rem #dbe7ff;
  background: $primary40;
}

.primaryBtnLightTheme[disabled] {
  border: 0.0625rem solid $neutral90;
  background: $neutral90;
  color: $neutral100;
  cursor: not-allowed;
}

// dark mode classes
.primaryBtnDarkTheme {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background: $primary50;
  border: 0.0625rem solid $primary50;
  cursor: pointer;

  .text {
    @extend .t3Bold;
    color: $neutral100;
  }
}

.primaryBtnDarkTheme:not(:disabled):hover {
  box-shadow: 0px 0rem 0rem 0.25rem #b4ceff;
}

.primaryBtnDarkTheme:not(:disabled):active {
  background: $primary60;
  border-color: transparent;
  box-shadow: 0rem 0rem 0rem 0.25rem #b4ceff;
}

.primaryBtnDarkTheme[disabled] {
  color: $neutral100;
  background: $neutral20;
  border: 1px solid $neutral20;
  cursor: not-allowed;
}
