@import "./variables.scss";

// color theme
// light color theme
.lightThemeLowest {
  color: #000;
  background: #fbfcff;
}

.lightThemeLow {
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.05) 0%,
    rgba(13, 98, 255, 0.05) 100%
  );
}

.lightThemeRegular {
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.08) 0%,
    rgba(13, 98, 255, 0.08) 100%
  );
}
.lightThemeHigh {
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.11) 0%,
    rgba(13, 98, 255, 0.11) 100%
  );
}

.lightThemeHighest {
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.14) 0%,
    rgba(13, 98, 255, 0.14) 100%
  );
}

// dark color theme
.darkThemeLowest {
  color: var(--neutral100);
  background: #1b1c1f;
}

.darkThemeLow {
  color: var(--neutral100);
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.05) 0%,
    rgba(13, 98, 255, 0.05) 100%
  );
}

.darkThemeRegular {
  color: var(--neutral100);
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.08) 0%,
    rgba(13, 98, 255, 0.08) 100%
  );
}

.darkThemeHigh {
  color: var(--neutral100);
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.11) 0%,
    rgba(13, 98, 255, 0.11) 100%
  );
}

.darkThemeHighest {
  color: var(--neutral100);
  background: linear-gradient(
    0deg,
    rgba(13, 98, 255, 0.14) 0%,
    rgba(13, 98, 255, 0.14) 100%
  );
}
