@import "../global-styles/variables.scss";
// typography

//font family
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// headings
// h1 - group
.h1Lite {
  font-family: "Roboto";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 5.625rem;
  color: $neutral20;
  margin: 0;
}

.h1Reg {
  font-family: "Roboto";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.625rem;
  color: $neutral20;
  margin: 0;
}

.h1Med {
  font-family: "Roboto";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5.625rem;
  color: $neutral20;
  margin: 0;
}

.h1Semi {
  font-family: "Roboto";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.625rem;
  color: $neutral20;
  margin: 0;
}

.h1Bold {
  font-family: "Roboto";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.625rem;
  color: $neutral20;
  margin: 0;
}

// h2 - group
.h2Lite {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.5rem;
  color: $neutral20;
  margin: 0;
}

.h2Reg {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  color: $neutral20;
  margin: 0;
}

.h2Med {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
  color: $neutral20;
  margin: 0;
}

.h2Semi {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.5rem;
  color: $neutral20;
  margin: 0;
}

.h2Bold {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.5rem;
  color: $neutral20;
  margin: 0;
}

// h3 - group
.h3Lite {
  font-family: "Roboto";
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.75rem;
  color: $neutral20;
  margin: 0;
}

.h3Reg {
  font-family: "Roboto";
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  color: $neutral20;
  margin: 0;
}

.h3Med {
  font-family: "Roboto";
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
  color: $neutral20;
  margin: 0;
}

.h3Semi {
  font-family: "Roboto";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75rem;
  color: $neutral20;
  margin: 0;
}

.h3Bold {
  font-family: "Roboto";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  color: $neutral20;
  margin: 0;
}

// h4 - group
.h4Lite {
  font-family: "Roboto";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.75rem;
  color: $neutral20;
  margin: 0;
}

.h4Reg {
  font-family: "Roboto";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  color: $neutral20;
  margin: 0;
}

.h4Med {
  font-family: "Roboto";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.75rem;
  color: $neutral20;
  margin: 0;
}

.h4Semi {
  font-family: "Roboto";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
  color: $neutral20;
  margin: 0;
}

.h4Bold {
  font-family: "Roboto";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  color: $neutral20;
  margin: 0;
}

// h5 - group
.h5Lite {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.375rem;
  color: $neutral20;
  margin: 0;
}

.h5Reg {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.375rem;
  color: $neutral20;
  margin: 0;
}

.h5Med {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
  color: $neutral20;
  margin: 0;
}

.h5Semi {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem;
  color: $neutral20;
  margin: 0;
}

.h5Bold {
  font-family: "Roboto";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.375rem;
  color: $neutral20;
  margin: 0;
}

// h6 - group
.h6Lite {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  color: $neutral20;
  margin: 0;
}

.h6Reg {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: $neutral20;
  margin: 0;
}

.h6Med {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  color: $neutral20;
  margin: 0;
}

.h6Semi {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  color: $neutral20;
  margin: 0;
}

.h6Bold {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: $neutral20;
  margin: 0;
}

// text
// t1 - group
.t1Lite {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.875rem;
  color: $neutral20;
  margin: 0;
}

.t1Reg {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  color: $neutral20;
  margin: 0;
}

.t1Med {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  color: $neutral20;
  margin: 0;
}

.t1Semi {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem;
  color: $neutral20;
  margin: 0;
}

.t1Bold {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  color: $neutral20;
  margin: 0;
}

// t2 - group
.t2Lite {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
  color: $neutral20;
  margin: 0;
}

.t2Reg {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  color: $neutral20;
  margin: 0;
}

.t2Med {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  color: $neutral20;
  margin: 0;
}

.t2Semi {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  color: $neutral20;
  margin: 0;
}

.t2Bold {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  color: $neutral20;
  margin: 0;
}

// t3 - group
.t3Lite {
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  color: $neutral20;
  margin: 0;
}

.t3Reg {
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: $neutral20;
  margin: 0;
}

.t3Med {
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  color: $neutral20;
  margin: 0;
}

.t3Semi {
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  color: $neutral20;
  margin: 0;
}

.t3Bold {
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  color: $neutral20;
  margin: 0;
}

// t4 - group
.t4Lite {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
  color: $neutral20;
  margin: 0;
}

.t4Reg {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: $neutral20;
  margin: 0;
}

.t4Med {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  color: $neutral20;
  margin: 0;
}

.t4Semi {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  color: $neutral20;
  margin: 0;
}

.t4Bold {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  color: $neutral20;
  margin: 0;
}

// t5 - group
.t5Lite {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.125rem;
  color: $neutral20;
  margin: 0;
}

.t5Reg {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  color: $neutral20;
  margin: 0;
}

.t5Med {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  color: $neutral20;
  margin: 0;
}

.t5Semi {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125rem;
  color: $neutral20;
  margin: 0;
}

.t5Bold {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  color: $neutral20;
  margin: 0;
}
