@import "../../../global-styles/typography.module.scss";
@import "../../../global-styles/variables.scss";

.tableItem {
  border-bottom: 0.0625rem solid $neutral90;
  background-color: $neutral100;

  .draftBadge {
    color: $warning50;
    background: $warning90;
  }

  .activeBadge {
    color: $success50;
    background: $success90;
  }

  .inactiveBadge {
    color: $alert50;
    background: $alert90;
  }

  .badge {
    @extend .t5Med;
    display: flex;
    padding: 0.1875rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 0.75rem;
    text-align: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  td {
    @extend .t3Reg;
    color: $neutral40;
    height: 4rem;
    padding: 1rem 1.5rem;
  }

  .nameColumn {
    width: 24%;

    div {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }

    .name {
      input {
        @extend .t3Reg;
        color: $neutral40;
        border: none;
      }

      input:focus {
        outline: none;
      }

      .requiredMessage {
        color: $alert50;
      }
    }
  }

  .statusColumn {
    width: 8%;
  }

  .roleColumn {
    width: 17%;
  }

  .emailColumn {
    width: 20%;
  }

  .teamsColumn {
    width: 26.5%;

    .badges {
      display: flex;
      align-items: center;
      gap: 4px;

      .badgeGroup1 {
        color: $badgeColorMain1;
        background: $badgeColorBack1;
      }

      .badgeGroup2 {
        color: $badgeColorMain2;
        background: $badgeColorBack2;
      }

      .badgeGroup5 {
        color: $badgeColorMain5;
        background: $badgeColorBack5;
      }

      .remainingCount {
        @extend .t5Reg;
        color: $neutral30;
        text-align: center;
      }
    }
  }

  .deleteColumn {
    padding: 1rem 0.625rem;
  }

  .editColumn {
    padding: 1rem 0.875rem;
  }
}
