@import "../../global-styles/global-styles.module.scss";

.lessonCardContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2.125rem;
  gap: 1rem;
  height: 100dvh;

  .lessonCard {
    @extend .lightThemeRegular;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2.125rem;
    justify-content: space-between;
    flex: 1;

    .lesson {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
