.dashboardHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;

  .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    .logo {
      width: 7.5rem;
      height: auto;
      object-fit: cover;
    }

    .navButtons {
      display: flex;
      gap: 0.875rem;
    }
  }
}
