.resetPasswordFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
