@import "../../../global-styles/variables.scss";
@import "../../../global-styles/shadows.module.scss";
@import "../../../global-styles/typography.module.scss";

.navBarContainer {
  @extend .shadowSmLightTheme;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  border-radius: 0.25rem;
  background: $neutral100;
  position: fixed;
  bottom: 0.625rem;
  left: 0.625rem;
  right: 0.625rem;
  z-index: 1;
  overflow: hidden;

  .navItem {
    @extend .t4Reg;
    color: $neutral50;
    background: $neutral100;
    text-align: center;
    display: flex;
    width: 24%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .selected {
    @extend .t4Bold;
    color: $neutral10;
    background: $primary90;
  }
}
