@import "../../../global-styles/typography.module.scss";
@import "../../../global-styles/variables.scss";

.tableRowHeader {
  border-bottom: 0.0625rem solid $neutral80;
  background: $neutral95;

  th {
    @extend .t4Med;
    color: $neutral30;
    height: 3rem;
    padding: 0.75rem 1.5rem;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
  }

  .nameColumnHeader {
    width: 25%;
  }

  .statusColumnHeader {
    width: 8%;
  }

  .roleColumnHeader {
    width: 17%;
  }

  .emailColumnHeader {
    width: 20%;
  }

  .teamsColumnHeader {
    width: 26.5%;
  }

  .deleteColumnHeader {
    padding: 1rem 0.625rem;
  }

  .editColumnHeader {
    padding: 1rem 0.875rem;
  }
}
