@import "../../../global-styles/global-styles.module.scss";

.tertiaryBtnLightTheme {
  @extend .t3Reg;
  color: $primary50;
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border: 0.0625rem solid transparent;
  background-color: transparent;
  cursor: pointer;

  &:not(:disabled):hover {
    border: 0.0625rem solid $neutral80;
  }

  &:not(:disabled):active {
    color: $primary50;
    border: 0.0625rem solid $neutral80;
    background-color: $neutral90;
  }

  &:disabled {
    color: $neutral70;
    cursor: not-allowed;
  }
}

.tertiaryBtnDarkTheme {
  @extend .t3Reg;
  color: $primary99;
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border: 0.0625rem solid transparent;
  background-color: transparent;
  cursor: pointer;

  &:not(:disabled):hover {
    border: 0.0625rem solid $primary99;
  }

  &:not(:disabled):active {
    color: $primary50;
    border: 0.0625rem solid $primary99;
    background-color: $primary99;
  }

  &:disabled {
    color: $neutral90;
    background: $neutral20;
    cursor: not-allowed;
  }
}
