@import "../../../global-styles/variables.scss";
@import "../../../global-styles/typography.module.scss";

.tertiaryBtnLightTheme {
  @extend .t3Reg;
  color: $primary50;
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border: 0.0625rem solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.tertiaryBtnLightTheme:not(:disabled):hover {
  border: 0.0625rem solid $neutral80;
}

.tertiaryBtnLightTheme:not(:disabled):active {
  color: $primary50;
  border: 0.0625rem solid $neutral80;
  background-color: $neutral90;
}

.tertiaryBtnLightTheme[disabled] {
  color: $neutral70;
  cursor: not-allowed;
}

.tertiaryBtnDarkTheme {
  @extend .t3Reg;
  color: $primary99;
  display: inline-flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border: 0.0625rem solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.tertiaryBtnDarkTheme:not(:disabled):hover {
  border: 0.0625rem solid $primary99;
}

.tertiaryBtnDarkTheme:not(:disabled):active {
  color: $primary50;
  border: 0.0625rem solid $primary99;
  background-color: $primary99;
}

.tertiaryBtnDarkTheme[disabled] {
  color: $neutral90;
  background: $neutral20;
  cursor: not-allowed;
}
