@import "../../../global-styles/variables.scss";
@import "../../../global-styles/color-theme.module.scss";

.checkBoxLightTheme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral90;
  background: $neutral100;

  .checkBoxIcon {
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
  }
}

.checkBoxLightTheme:hover {
  border: 0.0625rem solid $primary50;
  box-shadow: 0rem 0rem 0rem 0.25rem $primary99;
}

.checkBoxDarkTheme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral70;
  background: $neutral100;

  .checkBoxIcon {
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
  }
}

.checkBoxDarkTheme:hover {
  border: 0.0625rem solid $primary50;
  box-shadow: 0rem 0rem 0rem 0.25rem $primary80;
}
