@import "../../../global-styles/variables.scss";
@import "../../../global-styles/typography.module.scss";

.secondaryBtnLightTheme {
  @extend .t3Med;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  text-align: center;
  border: 0.0625rem solid $neutral90;
  cursor: pointer;
}

.secondaryBtnLightTheme:not(:disabled):hover {
  border: 0.0625rem solid $primary50;
}

.secondaryBtnLightTheme:not(:disabled):active {
  border: 0.0625rem solid $primary50;
  background: $neutral99;
  box-shadow: 0rem 0rem 0rem 0.25rem $primary90;
}

.secondaryBtnLightTheme[disabled] {
  color: $neutral100;
  border: 0.0625rem solid $neutral90;
  background: $neutral90;
}

//dark mode classes
.secondaryBtnDarkTheme {
  @extend .t3Med;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  text-align: center;
  border: 0.0625rem solid $neutral90;
  cursor: pointer;
}

.secondaryBtnDarkTheme:not(:disabled):hover {
  border: 0.0625rem solid $primary50;
}

.secondaryBtnDarkTheme:not(:disabled):active {
  color: $neutral20;
  border: 0.0625rem solid $primary50;
  background: $neutral99;
  box-shadow: 0rem 0rem 0rem 0.25rem $primary80;
}

.secondaryBtnDarkTheme[disabled] {
  color: $neutral100;
  border: 0.0625rem solid $neutral20;
  background: $neutral20;
}
