@import "../../../global-styles/global-styles.module.scss";

.activeCourseContainer {
  @extend .lightThemeLowest;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.25rem;

  .activeCourseCard {
    @extend .lightThemeHighest;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral80;

    .activeCourseImgContainer {
      height: 56.25%;

      .activeCourseImg {
        width: 100%;
        // height: 56.25%;
        height: auto;
        object-fit: cover;
        border-radius: 0.25rem 0.25rem 0rem 0rem;
      }
    }

    .activeCourseDetails {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;

      .activeCourseTextInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .activeCourseText {
          @extend .t5Lite;
          color: $neutral40;
          margin-right: 0.3125rem;
        }
      }
    }
  }
}
