.btnWithRightIconLightTheme {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--neutral90);
  background: var(--neutral100);
  color: var(--neutral20);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  cursor: pointer;
}

.btnWithRightIconDarkTheme {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--neutral99);
  background: var(--neutral100);
  color: var(--neutral20);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  cursor: pointer;
}
