@import "../../../global-styles/variables.scss";

.emailLoginContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    color: var(--neutral20);
    margin: 0;
  }

  .forgotPassword {
    color: var(--primary50);
    display: inline-block;
    margin: 4px 0;
  }
}
