html,
body {
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

* {
  box-sizing: border-box;
}
