@import "../../../global-styles/global-styles.scss";

.textInputContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 0.25rem;

  .labelLightTheme {
    @extend .t4Lite;
    color: $neutral50;
    cursor: pointer;
  }

  .inputLightTheme {
    @extend .t3Reg;
    display: flex;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral90;
    background-color: $neutral100;

    &:focus {
      outline: none;
      box-shadow: 0rem 0rem 0rem 0.25rem $neutral99;
    }

    &:invalid {
      border: 0.0625rem solid $alert60;
    }

    &::placeholder {
      @extend .t3Lite;
      color: $neutral70;
    }

    &:disabled {
      border: 0.0625rem solid $neutral90;
      background: $neutral90;
      color: $neutral70;
    }
  }

  .helperTextLightTheme {
    @extend .t4Lite;
  }

  // dark theme mode
  .labelDarkTheme {
    @extend .t4Lite;
    color: $neutral95;
    cursor: pointer;
  }

  .inputDarkTheme {
    @extend .t3Reg;
    display: flex;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral70;
    background-color: $neutral100;

    &:focus {
      outline: none;
      box-shadow: 0rem 0rem 0rem 0.25rem $neutral80;
    }

    &:invalid {
      border: 0.0625rem solid $alert60;
    }

    &::placeholder {
      @extend .t3Lite;
      color: $neutral70;
    }

    &:disabled {
      border: 0.0625rem solid $neutral40;
      background: $neutral40;
      color: $neutral80;
    }
  }

  .helperTextDarkTheme {
    @extend .t4Lite;
    color: $neutral95;
  }
}

.helperTextInactive {
  display: none;
}
